<!DOCTYPE html>
<html>
<body>
    <!-- the template, where the data are $var
    and router.py get the values from sql
and render it into this template, index -->

<h1>没接单的</h1>
<p>student1, bid, Pay factor, School, Target, GPA,CV
    <a href="https://www.google.com">download</a>
</p>
<p>student1, bid, Pay factor, School, Target, GPA,CV
    <a href="https://www.google.com">download</a>
</p>
<p>student1, bid, Pay factor, School, Target, GPA,CV
    <a href="https://www.google.com">download</a>
</p>
<p>student1, bid, Pay factor, School, Target, GPA,CV
    <a href="https://www.google.com">download</a>
</p>
<p>student1, bid, Pay factor, School, Target, GPA,CV
    <a href="https://www.google.com">download</a>
</p>
<p>student1, bid, Pay factor, School, Target, GPA,CV
    <a href="https://www.google.com">download</a>
</p>

<h1>Ongoing</h1>

<p>student1, bid, Pay factor, School, Target, GPA,CV
    <a href="https://www.google.com">download</a>
</p>
<p>student1, bid, Pay factor, School, Target, GPA,CV
    <a href="https://www.google.com">download</a>
</p>

</body>
</html>
